@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  
  --primary: #0ea5e9;
  --primary-foreground: #ffffff;
  
  --border: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
    
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    
    --primary: #0ea5e9;
    --primary-foreground: #ffffff;
    
    --border: #334155;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
